body {
    background-color: #f2faff;
}

h1, h3 {
    text-align: center;
    font-family: "Calibri Light";
    color: #333333;
}

#container {
    text-align: center;
}

.frame-btn {
    display: inline-block;
    background-color: #f2faff;
    margin: 20px 50px;
    border: 0px;
    cursor: pointer;
}

.frame-btn:focus {
    outline: none;
}

.caption {
    margin-top: 5px;
    color: #333333;
    display: block;
    font-size: 25px;
}

#container img {
    width: 300px;
    height: 300px;
    border: 2px solid #bdd0e6;
    border-radius: 10px;
}



.top-list img {
    vertical-align: middle;
    width: 120px;
    height: 120px;
    border: 1px solid #bdd0e6;
    border-radius: 5px;
    margin: 5px 20px;
}

.top-list li {
    margin-left: 20px;
    font-size: 30px;
    font-family: "Comic Sans MS";
}

.top-list span {
    font-size: 20px;
}